<div class="col-xs-12 no_pad">
	<div class="col-xs-12 no_pad rgtcontent_up">
		<h2 class="pull-left no_pad">
			<div class="pull-left first_letter inner_head">cosmos</div>
			<div class="pull-left beside_hd">VDH</div>
		</h2>
		<div class="pull-left navigation_main">
			<button class="pull-left btndef_none text-uppercase mainnav_btn" aria-label="create an indent" title="create an indent">create an indent</button>
			<button class="pull-left btndef_none text-uppercase mainnav_btn" aria-label="project actions" title="project actions">project actions</button>
			<button class="pull-left btndef_none text-uppercase mainnav_btn" aria-label="team actions" title="team actions">team actions</button>
		</div>
		<div class="pull-right gross_cls">
			<div class="pull-left grs_txt first_letter">gross margin &nbsp;</div>
			<div class="pull-left grs_num">18%</div>
		</div>
	</div>
	<div class="col-xs-12 no_pad rgtcontent_down">
		<!-- accord1 starts here -->
		<div class="col-xs-12 no_pad drag_cls" [dragula]='"third-bag"'>
			<div class="col-xs-12 no_pad accordionItem open_accord">
				<div class="col-xs-12 no_pad accordionItemHeading">
	      			<div class="pull-left desc_hd first_letter">my tasks / reminders</div>
	      			<div class="pull-right">
	      				<button class="pull-left btndef_none accord_drag icon-move" aria-label="draggable" title="draggable"></button>
	      				<button class="pull-left btndef_none accord_arrow icon-arrow_drop_down" aria-label="arrow" title="arrow"></button>
	      			</div>
	      		</div>
		      	<div class="col-xs-12 no_pad accordionItemContent">
		      		<div class="col-xs-12 no_pad accordionInnerContent">
						<app-mytasks></app-mytasks>
					</div>
				</div>
			</div>
		</div>
		<!-- accord2 starts here -->
		<div class="col-xs-12 no_pad drag_cls" [dragula]='"third-bag"'>
			<div class="col-xs-12 no_pad accordionItem open_accord">
	      		<div class="col-xs-12 no_pad accordionItemHeading">
	      			<div class="pull-left desc_hd first_letter">my request status</div>
	      			<div class="pull-right">
	      				<button class="pull-left btndef_none accord_drag icon-move" aria-label="draggable" title="draggable"></button>
	      				<button class="pull-left btndef_none accord_arrow icon-arrow_drop_down" aria-label="arrow" title="arrow"></button>
	      			</div>
	      		</div>
		      	<div class="col-xs-12 no_pad accordionItemContent">
		      		<div class="col-xs-12 no_pad accordionInnerContent">
		      			<app-myrequests></app-myrequests>
					</div>
				</div>
			</div>
		</div>
		<!-- accord3 starts here -->
		<div class="col-xs-12 no_pad drag_cls" [dragula]='"third-bag"'>
			<div class="col-xs-12 no_pad accordionItem open_accord">
	      		<div class="col-xs-12 no_pad accordionItemHeading">
	      			<div class="pull-left desc_hd first_letter">team analytics</div>
	      			<div class="pull-right">
	      				<button class="pull-left btndef_none accord_drag icon-move" aria-label="draggable" title="draggable"></button>
	      				<button class="pull-left btndef_none accord_arrow icon-arrow_drop_down" aria-label="arrow" title="arrow"></button>
	      			</div>
	      		</div>
		      	<div class="col-xs-12 no_pad accordionItemContent">
		      		<div class="col-xs-12 no_pad accordionInnerContent">
						<app-teamanalytics></app-teamanalytics>
					</div>
				</div>
			</div>
		</div>
	
		
</div>
