<div class="col-xs-12 no_pad tofamain_cls">
			<div class="col-xs-6 no_pad team_analytics project_tofa">
				<div class="col-lg-12 no_pad  tofa_cls">
					<div class="col-xs-12 no_pad header_brdr">
						<div class="pull-left first_letter desc_hd teamana_hd">project statistics</div>
						<div class="pull-right projstatus_drpdwn no-border-select">
							<mat-form-field>
							    <mat-select   name="select" [(ngModel)]="selectedValue" (change)="onChange(selectedValue)">
							      <mat-option *ngFor="let projarr of project" [value]="projarr.value" >
							        {{projarr.viewValue}}
							      </mat-option>
							    </mat-select>
							</mat-form-field>
						</div>
					</div>
					<div class="col-xs-12 no_pad team_in projstatus_cls">
						<div  class="col-xs-12 no_pad mt20" *ngIf="FirstProjStatusGraph">
							<div class="col-xs-5 no_pad">
					  			<canvas baseChart height="200px"
					              [data]="doughnutChartData1"
					              [labels]="doughnutChartLabels1"
					              [colors]="doughnutChartColors1"
					              [legend]="false"
					              [chartType]="doughnutChartType1"
					              (chartHover)="chartHovered($event)"
					              (chartClick)="chartClicked($event)"></canvas>
							</div>
							<ul class="col-xs-7 no_pad projstatus_legends">
								<li class="col-xs-12 no_pad">
									<div class="col-xs-4 no_pad">
										<div class="col-xs-12 no_pad rect_cls present_cls">
											<div class="col-xs-12 no_pad projstatus_txt">8500</div>
											<div class="col-xs-12 no_pad font_ten first_letter projstatus_num">present</div>
										</div>
									</div>
									<div class="col-xs-4 no_pad">
										<div class="col-xs-12 no_pad rect_cls onleave_cls">
											<div class="col-xs-12 no_pad projstatus_txt">8500</div>
											<div class="col-xs-12 no_pad font_ten first_letter projstatus_num">on leave</div>
										</div>
									</div>
									<div class="col-xs-4 no_pad">
										<div class="col-xs-12 no_pad rect_cls ood_cls">
											<div class="col-xs-12 no_pad projstatus_txt">8500</div>
											<div class="col-xs-12 no_pad font_ten first_letter projstatus_num">OOD</div>
										</div>
									</div>
								</li>
								<li class="col-xs-12 no_pad">
									<div class="col-xs-4 no_pad">
										<div class="col-xs-12 no_pad rect_cls noswipe_cls">
											<div class="col-xs-12 no_pad projstatus_txt">8500</div>
											<div class="col-xs-12 no_pad font_ten first_letter projstatus_num">no swipe data</div>
										</div>
									</div>
									<div class="col-xs-4 no_pad">
										<div class="col-xs-12 no_pad rect_cls oth_cls">
											<div class="col-xs-12 no_pad projstatus_txt">8500</div>
											<div class="col-xs-12 no_pad font_ten first_letter projstatus_num">on leave</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div  class="col-xs-12 no_pad mt20" *ngIf="SecondProjStatusGraph">
							<div class="col-xs-5 no_pad">
					  			<canvas baseChart height="200px"
					              [data]="doughnutChartData"
					              [labels]="doughnutChartLabels"
					              [colors]="doughnutChartColors"
					              [legend]="false"
					              [chartType]="doughnutChartType"
					              (chartHover)="chartHovered($event)"
					              (chartClick)="chartClicked($event)"></canvas>
							</div>
							<ul class="col-xs-7 no_pad projstatus_legends">
								<li class="col-xs-12 no_pad">
									<div class="col-xs-4 no_pad">
										<div class="col-xs-12 no_pad rect_cls present_cls">
											<div class="col-xs-12 no_pad projstatus_txt">8500</div>
											<div class="col-xs-12 no_pad font_ten first_letter projstatus_num">present</div>
										</div>
									</div>
									<div class="col-xs-4 no_pad">
										<div class="col-xs-12 no_pad rect_cls onleave_cls">
											<div class="col-xs-12 no_pad projstatus_txt">8500</div>
											<div class="col-xs-12 no_pad font_ten first_letter projstatus_num">on leave</div>
										</div>
									</div>
									<div class="col-xs-4 no_pad">
										<div class="col-xs-12 no_pad rect_cls ood_cls">
											<div class="col-xs-12 no_pad projstatus_txt">8500</div>
											<div class="col-xs-12 no_pad font_ten first_letter projstatus_num">OOD</div>
										</div>
									</div>
								</li>
								<li class="col-xs-12 no_pad">
									<div class="col-xs-4 no_pad">
										<div class="col-xs-12 no_pad rect_cls noswipe_cls">
											<div class="col-xs-12 no_pad projstatus_txt">8500</div>
											<div class="col-xs-12 no_pad font_ten first_letter projstatus_num">no swipe data</div>
										</div>
									</div>
									<div class="col-xs-4 no_pad">
										<div class="col-xs-12 no_pad rect_cls oth_cls">
											<div class="col-xs-12 no_pad projstatus_txt">8500</div>
											<div class="col-xs-12 no_pad font_ten first_letter projstatus_num">on leave</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 no_pad appleavs_cls">

						<button class="pull-left btndef_none first_letter appleavs_desc" (click)="showMoreGraphClk()">no. of leaves for your project over the next 30 days:400</button>
						<button class="pull-left btndef_none analytic_arrow icon-arrow_drop_right" aria-label="more" title="more" (click)="showMoreGraphClk()"></button>
						
					</div>
				</div>
			</div>
			<div class="col-xs-6 no_pad team_analytics project_tofa">
				<div class="col-lg-12 no_pad tofa_cls">
					<div class="col-xs-12 no_pad header_brdr">
						<div class="pull-left first_letter desc_hd teamana_hd">TIC | TOFA</div>
						<div class="pull-right first_letter ttl_avg font_tweleve">all fig. are average team hrs.</div>
					</div>
					<div class="col-xs-12 no_pad team_in">
						<ul class="col-xs-12 no_pad teamavg_ul">
							<li class="col-xs-4 no_pad">
								<div class="col-xs-12 no_pad teamavg_in">
									<div class="col-xs-12 no_pad teamavg_hrs">
										<div class="pull-left text-uppercase">tic</div>
										<div class="pull-left">-</div>
										<div class="pull-left">6.6</div>
									</div>
									<div class="col-xs-12 no_pad teamavg_measur first_letter">yesterday</div>
								</div>
							</li>
							<li class="col-xs-4 no_pad">
								<div class="col-xs-12 no_pad teamavg_in">
									<div class="col-xs-12 no_pad teamavg_hrs">10.5</div>
									<div class="col-xs-12 no_pad teamavg_measur first_letter">this week</div>
								</div>
							</li>
							<li class="col-xs-4 no_pad">
								<div class="col-xs-12 no_pad teamavg_in">
									<div class="col-xs-12 no_pad teamavg_hrs">10.5</div>
									<div class="col-xs-12 no_pad teamavg_measur first_letter">this month</div>
								</div>
							</li>
							<li class="col-xs-4 no_pad">
								<div class="col-xs-12 no_pad teamavg_in">
									<div class="col-xs-12 no_pad teamavg_hrs">
										<div class="pull-left text-uppercase">tofa</div>
										<div class="pull-left">-</div>
										<div class="pull-left">6.6</div>
									</div>
									<div class="col-xs-12 no_pad teamavg_measur first_letter">yesterday</div>
								</div>
							</li>
							<li class="col-xs-4 no_pad">
								<div class="col-xs-12 no_pad teamavg_in">
									<div class="col-xs-12 no_pad teamavg_hrs">10.5</div>
									<div class="col-xs-12 no_pad teamavg_measur first_letter">this week</div>
								</div>
							</li>
							<li class="col-xs-4 no_pad">
								<div class="col-xs-12 no_pad teamavg_in">
									<div class="col-xs-12 no_pad teamavg_hrs">10.5</div>
									<div class="col-xs-12 no_pad teamavg_measur first_letter">this month</div>
								</div>
							</li>
							<li class="col-xs-12 no_pad tofa_date">
								<div class="col-xs-4 text-capitalize font_twelve yest_day">01-Jan-2017</div>
								<div class="col-xs-4 font_twelve yest_day">01-Jan-2017 to<br> 06-jan-2017</div>
								<div class="col-xs-4 text-capitalize font_twelve yest_day">Jan 2017</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="col-xs-6 no_pad team_analytics">
				<div class="col-lg-12 no_pad  tofa_cls">
					<div class="col-xs-12 no_pad first_letter desc_hd theme_hd">employee with high average TOFA</div>
					<ul class="col-xs-12 no_pad tofa_ul">
						<li class="col-xs-12 no_pad" role="link">
							<div class="col-lg-9 no_pad tofa_left">
								<div class="col-lg-1 round_cls user_pic tofa_img"></div>
								<div class="col-lg-8 tofa_rgt">
									<div class="col-xs-12 no_pad desc_hd tofaemp_name text-capitalize verticalABC">Vertical ABC</div>
									<div class="col-xs-12 no_pad tofa_hrs">12.00 Hrs</div>
								</div>
							</div>
							<div class="pull-right tofargt_arrow icon-arrow_drop_right"></div>
						</li>
						<li class="col-xs-12 no_pad" role="link">
							<div class="col-lg-9 no_pad tofa_left">
								<div class="col-lg-1 round_cls user_pic tofa_img"></div>
								<div class="col-lg-8 tofa_rgt">
									<div class="col-xs-12 no_pad desc_hd tofaemp_name text-capitalize verticalABC">Vertical ABC</div>
									<div class="col-xs-12 no_pad tofa_hrs">12.00 Hrs</div>
								</div>
							</div>
							<div class="pull-right tofargt_arrow icon-arrow_drop_right"></div>
						</li>
						<li class="col-xs-12 no_pad" role="link">
							<div class="col-lg-9 no_pad tofa_left">
								<div class="col-lg-1 round_cls user_pic tofa_img"></div>
								<div class="col-lg-8 tofa_rgt">
									<div class="col-xs-12 no_pad desc_hd tofaemp_name text-capitalize verticalABC">Vertical ABC</div>
									<div class="col-xs-12 no_pad tofa_hrs">12.00 Hrs</div>
								</div>
							</div>
							<div class="pull-right tofargt_arrow icon-arrow_drop_right"></div>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-xs-6 no_pad team_analytics">
				<div class="col-lg-12 no_pad tofa_cls">
					<div class="col-xs-12 no_pad first_letter desc_hd theme_hd">employee with low average TOFA</div>
					<ul class="col-xs-12 no_pad tofa_ul">
						<li class="col-xs-12 no_pad" role="link">
							<div class="col-lg-9 no_pad tofa_left">
								<div class="col-lg-1 round_cls user_pic tofa_img"></div>
								<div class="col-lg-8 tofa_rgt">
									<div class="col-xs-12 no_pad desc_hd tofaemp_name text-capitalize verticalABC">Vertical ABC</div>
									<div class="col-xs-12 no_pad tofa_hrs">12.00 Hrs</div>
								</div>
							</div>
							<div class="pull-right tofargt_arrow icon-arrow_drop_right"></div>
						</li>
						<li class="col-xs-12 no_pad" role="link">
							<div class="col-lg-9 no_pad tofa_left">
								<div class="col-lg-1 round_cls user_pic tofa_img"></div>
								<div class="col-lg-8 tofa_rgt">
									<div class="col-xs-12 no_pad desc_hd tofaemp_name text-capitalize verticalABC">Vertical ABC</div>
									<div class="col-xs-12 no_pad tofa_hrs">12.00 Hrs</div>
								</div>
							</div>
							<div class="pull-right tofargt_arrow icon-arrow_drop_right"></div>
						</li>
						<li class="col-xs-12 no_pad" role="link">
							<div class="col-lg-9 no_pad tofa_left">
								<div class="col-lg-1 round_cls user_pic tofa_img"></div>
								<div class="col-lg-8 tofa_rgt">
									<div class="col-xs-12 no_pad desc_hd tofaemp_name text-capitalize verticalABC">Vertical ABC</div>
									<div class="col-xs-12 no_pad tofa_hrs">12.00 Hrs</div>
								</div>
							</div>
							<div class="pull-right tofargt_arrow icon-arrow_drop_right"></div>
						</li>
					</ul>
				</div>
			</div>
			<div [ngClass]="showMoreGraph ? 'moreGraphactive':'moreGraph'">
				<div class="col-xs-12 no_pad">
					<div class="pull-left first_letter desc_hd moregraph_hd">total no. of applied leaves for your BU over next 30 days:400</div>
					<button class="pull-right btndef_none close_graph icon-close" (click)="showMoreGraphClk()"></button>
				</div>
				
				<div style="display: block" class="pull-left col-xs-12 mt20">
				    <canvas baseChart height="100px"
				            [datasets]="barChartData1"
				            [labels]="barChartLabels1"
				            [options]="barChartOptions1"
				            [legend]="false"
				            [colors]="barChartColors1"
				            [chartType]="barChartType1"
				            (chartHover)="chartHovered($event)"
				            (chartClick)="chartClicked($event)"></canvas>
				  </div>
			</div>
			<div class="col-xs-12 no_pad view_cls">
				<div class="pull-right">
					<button class="pull-right btndef_none text-uppercase view-more-btn view_btn" aria-label="View team" title="View team" routerLink="/myteam" routerLinkActive="active">View team<span class="btndef_none icon-arrow_drop_right"></span></button>
					<button class="pull-right btndef_none text-uppercase view-more-btn view_btn" aria-label="View more" title="View more" (click)="onAnalyticsClick('analytics')">View more<span class="btndef_none icon-arrow_drop_right"></span></button>
				</div>
			</div>
			
				<div class="col-xs-12 no_pad header_brdr tofa_cls">
					<div class="pull-left desc_hd">
							<div class="first_letter no-border-head">team split </div>
					</div>
					<div class="pull-right">
						<div class="projstatus_drpdwn no-border-select">
							<mat-form-field>
								<mat-select   name="select" [(ngModel)]="selValteamsplit" (change)="onChangeTeamsplit(selValteamsplit)">
								  <mat-option *ngFor="let teamsplitarr of teamsplit" [value]="teamsplitarr.value" >
									{{teamsplitarr.viewValue}}
								  </mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>
										
				</div>
				
				
				<div class="col-xs-12 no_pad tofa_cls" *ngIf="bandGraph">
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no_pad actual_planned">
										<div class="col-xs-12 no_pad first_letter desc_hd backDated">Actual</div>
										<div class="col-xs-6 no_pad">
											<div class="col-xs-12 no_pad mt20">
												<div class="aboveBandDiv">
													<div class="col-xs-12 no_pad aboveBandContent"></div>
												</div>
											</div>
											<div class="col-xs-12 no_pad mt20">
												<div class="c2BandDiv">
													<div class="col-xs-12 no_pad c2BandContent"></div>
												</div>
											</div>
											<div class="col-xs-12 no_pad mt20">
												<div class="c1BandDiv">
													<div class="col-xs-12 no_pad c1BandContent"></div>
												</div>
											</div>
											<div class="col-xs-12 no_pad mt20">
												<div class="b1b2BandDiv">
													<div class="col-xs-12 no_pad b1b2BandContent"></div>
												</div>
											</div>
											<div class="col-xs-12 no_pad mt20">
												<div class="teamRainBandDiv">
													<div class="col-xs-12 no_pad teamRainBandContent"></div>
												</div>
											</div>
											<div class="col-xs-12 no_pad mt20">
												<div class="rookiesBandDiv">
													<div class="col-xs-12 no_pad rookiesBandContent"></div>
												</div>
											</div>
										</div>
										<div class="col-xs-6 no_pad">
											<span class="col-xs-12 no_pad  bandTexts">18% D1 & Above Band</span>
											<span class="col-xs-12 no_pad  bandTexts">16% C2 Band</span>
											<span class="col-xs-12 no_pad  bandTexts">20% C1 Band</span>
											<span class="col-xs-12 no_pad  bandTexts">10% B1+B2 Band</span>
											<span class="col-xs-12 no_pad  bandTexts">20% Team Rainbow(TRB)</span>
											<span class="col-xs-12 no_pad  bandTexts">8% Rookies</span>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no_pad actual_planned right-graph">
										<div class="col-xs-12 no_pad first_letter desc_hd backDated">Planned</div>
										<div class="col-xs-12 no_pad right-graph-container ">
										<div class="col-xs-6 no_pad ">
											<div class="col-xs-12 no_pad mt20">
												<div class="aboveBandDivPlanned">
													<div class="col-xs-12 no_pad aboveBandContent"></div>
												</div>
											</div>
											<div class="col-xs-12 no_pad mt20">
												<div class="c2BandDivPlanned">
													<div class="col-xs-12 no_pad c2BandContent"></div>
												</div>
											</div>
											<div class="col-xs-12 no_pad mt20">
												<div class="c1BandDivPlanned">
													<div class="col-xs-12 no_pad c1BandContent"></div>
												</div>
											</div>
											<div class="col-xs-12 no_pad mt20">
												<div class="b1b2BandDivPlanned">
													<div class="col-xs-12 no_pad b1b2BandContent"></div>
												</div>
											</div>
											<div class="col-xs-12 no_pad mt20">
												<div class="teamRainBandDivPlanned">
													<div class="col-xs-12 no_pad teamRainBandContent"></div>
												</div>
											</div>
											<div class="col-xs-12 no_pad mt20">
												<div class="rookiesBandDivPlanned">
													<div class="col-xs-12 no_pad rookiesBandContent"></div>
												</div>
											</div>
										</div>
										<div class="col-xs-6 no_pad">
											<span class="col-xs-12 no_pad  bandTexts">18% D1 & Above Band</span>
											<span class="col-xs-12 no_pad  bandTexts">16% C2 Band</span>
											<span class="col-xs-12 no_pad  bandTexts">20% C1 Band</span>
											<span class="col-xs-12 no_pad  bandTexts">10% B1+B2 Band</span>
											<span class="col-xs-12 no_pad  bandTexts">20% Team Rainbow(TRB)</span>
											<span class="col-xs-12 no_pad  bandTexts">8% Rookies</span>
										</div>
										</div>
									</div>
				</div>
				<div class="col-xs-12 no_pad tofa_cls onsitegrp_cls" *ngIf="onsiteGraph">
					<div class="billable_onsite">
						<div class="col-lg-8 col-md-8 no_pad">
						  	<canvas baseChart height="200px"
						              [data]="onsiteChartData"
						              [labels]="onsiteChartLabels"
						              [colors]="onsiteChartColors"
						              [legend]="false"
						              [chartType]="onsiteChartType"
						              (chartHover)="chartHovered($event)"
						              (chartClick)="chartClicked($event)">
						    </canvas>
						</div>
						<div class="col-lg-4 col-md-4 no_pad">
							<ul class="col-xs-12 no_pad  onsitegraph_ul">
								<li class="col-xs-12 no_pad">
									<div class="col-xs-12 no_pad">
										<div class="col-xs-12 no_pad cir_cls present_cls">
											<div class="col-xs-12 no_pad  first_letter projstatus_num">onsite</div>
										</div>
									</div>
								</li>
								<li class="col-xs-12 no_pad">
									<div class="col-xs-12 no_pad">
										<div class="col-xs-12 no_pad cir_cls onleave_cls">
											<div class="col-xs-12 no_pad  first_letter projstatus_num">offshore</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 no_pad tofa_cls billablegrp_cls" *ngIf="billableGraph">
					<div class="billable_onsite">
						<div class="col-lg-8 col-md-6 no_pad">
						  	<canvas baseChart height="200px"
						              [data]="billableChartData"
						              [labels]="billableChartLabels"
						              [colors]="billableChartColors"
						              [legend]="false"
						              [chartType]="billableChartType"
						              (chartHover)="chartHovered($event)"
						              (chartClick)="chartClicked($event)">       	
						    </canvas>
						</div>
						<div class="col-xs-4 no_pad">
							<ul class="col-xs-12 no_pad  billablegraph_ul">
								<li class="col-xs-12 no_pad">
									<div class="col-xs-12 no_pad cir_cls present_cls">
										<div class="col-xs-12 no_pad  first_letter projstatus_num">Billable</div>
									</div>
								</li>
								<li class="col-xs-12 no_pad">
									<div class="col-xs-12 no_pad cir_cls onleave_cls">
										<div class="col-xs-12 no_pad  first_letter projstatus_num">non-billable</div>
									</div>
								</li>
								<li class="col-xs-12 no_pad">
									<div class="col-xs-12 no_pad cir_cls ood_cls">
										<div class="col-xs-12 no_pad  first_letter projstatus_num">support</div>
									</div>
								</li>
								<li class="col-xs-12 no_pad">
									<div class="col-xs-12 no_pad cir_cls noswipe_cls">
										<div class="col-xs-12 no_pad  first_letter projstatus_num">investment</div>
									</div>
								</li>
								<li class="col-xs-12 no_pad">
									<div class="col-xs-12 no_pad cir_cls oth_cls">
										<div class="col-xs-12 no_pad  first_letter projstatus_num">contractors</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			<!-- <div class="col-xs-12 no_pad view_cls">
				<div class="pull-right">
					<button  md-button class="line-btn primary-btn pull-left text-uppercase view_btn" aria-label="view more" title="view more">view more</button>
				</div>
			</div> -->
</div>