<div class="col-xs-12 no_pad">
	<div class="col-xs-12 no_pad listView_main">
		<mat-tab-group>
		<mat-tab label="View all accounts" class="text_upper">
			<div class="col-xs-12 no_pad innerTabs">
				<div class="col-xs-12 no_pad padd15">
				<div class="col-xs-6 no_pad paddRight15">
				<div class="col-xs-12 no_pad searchBox_listView">
					<input type="text" name="">
					<button class="pull-right icon-search btndef_none listView_searchBtn" aria-label="search" title="search"></button>
				</div>
				</div>
				<button class="pull-left listView_filter btndef_none filter_left icon-filter" aria-label="filter" title="filter"></button>
				<span class="pull-right acc_span">320 Accounts</span></div>
				<div class="col-xs-12 no_pad">
					<ul class="col-xs-12 no_pad allAcc_UL">
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">lloyds tsp bank plc</span>
								<span class="pull-right icon-fav_filled"></span>
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">standard chartered bank</span>
								
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">ocbc</span>
								
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">standard chartered bank</span>
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">northwest savings</span>
								<span class="pull-right icon-fav_filled"></span>
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">standard chartered bank</span>
								<span class="pull-right icon-fav_filled"></span>
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">martgate master</span>
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">standard chartered bank</span>
								<span class="pull-right icon-fav_filled"></span>
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">ocbc</span>
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">standard chartered bank</span>
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">ocbc</span>
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">the bank of new york</span>
								<span class="pull-right icon-fav_filled"></span>
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">lloyds tsp bank plc</span>
								
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">standard chartered bank</span>
								
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">ocbc</span>
								
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">lloyds tsp bank plc</span>
								<span class="pull-right icon-fav_filled"></span>
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">standard chartered bank</span>
								
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">ocbc</span>
								
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">standard chartered bank</span>
								<span class="pull-right icon-fav_filled"></span>
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">northwest savings</span>
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">standard chartered bank</span>
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">martgate master</span>
								<span class="pull-right icon-fav_filled"></span>
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">standard chartered bank</span>
								<span class="pull-right icon-fav_filled"></span>
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">ocbc</span>
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">standard chartered bank</span>
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">ocbc</span>
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">the bank of new york</span>
								<span class="pull-right icon-fav_filled"></span>
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">lloyds tsp bank plc</span>
								
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">standard chartered bank</span>
								
							</div>
						</li>
						<li>
							<div class="col-xs-12 no_pad">
								<span class="pull-left listsTexts">ocbc</span>
								<span class="pull-right icon-fav_filled"></span>
							</div>
						</li>
					</ul>
				</div>
				<div class="listView_pagination">
					<ul class="col-xs-12 no_pad pagination" align="center">
					    <li><a href="#" class="icon-arrow_drop_left"></a></li>
					    <li class="numbers_mrg8"><a href="#">1</a></li>
					    <li class="numbers_mrg8"><a href="#">2</a></li>
					    <li class="numbers_mrg8"><a href="#">3</a></li>
					    <li class="numbers_mrg8"><a href="#">4</a></li>
					    <li class="numbers_mrg8"><a href="#">5</a></li>
					    <li class="numbers_mrg8"><a href="#">6</a></li>
					    <li class="numbers_mrg8"><a href="#">7</a></li>
					    <li class="numbers_mrg8"><a href="#">8</a></li>
					     <li class="numbers_mrg8"> ....</li>
					   
					    <li class="numbers_mrg8"><a href="#">100</a></li>
					    <li><a href="#" class="icon-arrow_drop_right"></a></li>
					</ul>
				</div>
			</div>
		</mat-tab>
		<mat-tab label="View all orders" class="text_upper">
		<div class="col-xs-12 no_pad innerTabs" *ngIf="allOrders">
			<div class="col-xs-12 no_pad">
				<div class="col-xs-12 no_pad padd15">
				<div class="col-xs-6 no_pad paddRight15">
				<div class="col-xs-12 no_pad searchBox_listView">
					<input type="text" name="">
					<button class="pull-right icon-search btndef_none listView_searchBtn" aria-label="search" title="search"></button>
				</div>
				</div>
				<button class="pull-left listView_filter btndef_none filter_left icon-filter" aria-label="filter" title="filter"></button>
				<span class="pull-right acc_span">120 SOW</span></div>


			</div>
			<div class="col-xs-12 no_pad">
			<h2 class="col-xs-12 no_pad padd15">
				<span class="pull-left orders_headings">LLOYDS TSP BANK PLC</span><span class="pull-left order_nos">40</span>
			</h2>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>

				<div class="col-xs-12 no_pad"><button class="pull-right line-btn"aria-label="view more" title="view more" (click)="showAllOrders()">view more</button></div>
			</div>


			<div class="col-xs-12 no_pad">
			<h2 class="col-xs-12 no_pad padd15">
				<span class="pull-left orders_headings">THE BANK OF NEW YORK</span><span class="pull-left order_nos">20</span>
			</h2>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>

				<div class="col-xs-12 no_pad"><button class="pull-right line-btn" aria-label="view more" title="view more" (click)="showAllOrders()">view more</button></div>
			</div>
			<div class="listView_pagination">
					<ul class="col-xs-12 no_pad pagination" align="center">
					    <li><a href="#" class="icon-arrow_drop_left"></a></li>
					    <li class="numbers_mrg8"><a href="#">1</a></li>
					    <li class="numbers_mrg8"><a href="#">2</a></li>
					    <li class="numbers_mrg8"><a href="#">3</a></li>
					    <li class="numbers_mrg8"><a href="#">4</a></li>
					    <li class="numbers_mrg8"><a href="#">5</a></li>
					    <li class="numbers_mrg8"><a href="#">6</a></li>
					    <li class="numbers_mrg8"><a href="#">7</a></li>
					    <li class="numbers_mrg8"><a href="#">8</a></li>
					     <li class="numbers_mrg8"> ....</li>
					   
					    <li class="numbers_mrg8"><a href="#">100</a></li>
					    <li><a href="#" class="icon-arrow_drop_right"></a></li>
					</ul>
				</div>

		</div>
		<div class="col-xs-12 no_pad" *ngIf="viewAllOrders">
			<div class="col-xs-12 no_pad innerTabs">
				<div class="col-xs-12 no_pad padd15 viewMore">
				<button class="pull-left icon-back_arrow btndef_none pull-left margtop15 backArrw pdngLeft0" (click)="hideAllOrders()"></button>
				<h2 class="pull-left padd15">
					<span class="pull-left orders_headings">LLOYDS TSP BANK PLC</span><span class="pull-left order_nos">40</span>
				</h2>
				<button class="pull-right listView_filter btndef_none filter_left icon-filter" aria-label="filter" title="filter"></button>
				<div class="col-xs-6 no_pad searchBox_listView pull-right">
						<input type="text" name="">
						<button class="pull-right icon-search btndef_none listView_searchBtn" aria-label="search" title="search"></button>
					</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 no_pad padd15">
				<div class="col-xs-12 no_pad whiteBg ordersBox">
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order no.</span>
						<span class="col-xs-6 no_pad label_text">200021984738</span>
					</div>
					<div class="col-xs-12 no_pad">
						<span class="col-xs-6 no_pad label_hd">Order name</span>
						<span class="col-xs-6 no_pad label_text">Webster bank<br>IOS project</span>
					</div>
				</div>
				</div>

				<div class="listView_pagination">
					<ul class="col-xs-12 no_pad pagination" align="center">
					    <li><a href="#" class="icon-arrow_drop_left"></a></li>
					    <li class="numbers_mrg8"><a href="#">1</a></li>
					    <li class="numbers_mrg8"><a href="#">2</a></li>
					    <li class="numbers_mrg8"><a href="#">3</a></li>
					    <li class="numbers_mrg8"><a href="#">4</a></li>
					    <li class="numbers_mrg8"><a href="#">5</a></li>
					    <li class="numbers_mrg8"><a href="#">6</a></li>
					    <li class="numbers_mrg8"><a href="#">7</a></li>
					    <li class="numbers_mrg8"><a href="#">8</a></li>
					     <li class="numbers_mrg8"> ....</li>
					   
					    <li class="numbers_mrg8"><a href="#">100</a></li>
					    <li><a href="#" class="icon-arrow_drop_right"></a></li>
					</ul>
				</div>
			</div>
		</div>
		</mat-tab>
		</mat-tab-group>

	</div>
</div>