<div class="col-xs-12 no_pad employee_details">
    <mat-dialog-actions>
        <div class="col-xs-12 no_pad">
            <div class="col-xs-12 no_pad allPopHeader"><h1 class="pull-left">Complete Propel Planning</h1>
                <button class="pull-right icon-close" mat-dialog-close aria-label="close" (click)="removeScroll()"></button>
                
            </div>
            <div class="col-xs-12 no_pad popInnerPadd">
                <!-- <div class="col-xs-12 no_pad demandtab_in scroll-window" slimScroll [options]="opts"> -->
                                    <ul class="col-xs-6 no_pad mt20">
                                            <li class="col-xs-12 col-lg-12 searchAttrLi marTop5">
                                                    <form class="dropdownSelect example-form col-xs-12 no_pad">
                                                            <mat-form-field>
                                                              <mat-select placeholder="What you want to do with these resources ?" name="resource" [(ngModel)]="selectedValue" (change)="showpropel(selectedValue)">
                                                                <mat-option *ngFor="let resource of resources" [value]="resource.value">
                                                                  {{resource.viewValue}}
                                                                </mat-option>
                                                              </mat-select>
                                                            </mat-form-field>
                                                        </form>
                                                    </li>
                                          </ul>
                                          <ul class="col-xs-6 no_pad mt20">
                                            <li class="col-xs-12 col-lg-12 searchAttrLi"  *ngIf="firstoption">
                                                    <form class="dropdownSelect example-form col-xs-12 no_pad">
                                                            <mat-form-field>
                                                             <input matInput [matDatepicker]="picker2" placeholder="Extension date">
                                                             <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                             <mat-datepicker #picker2></mat-datepicker>
                                                          </mat-form-field>
                                                         </form>
                                        </li>
                                    </ul>
                <!-- </div> -->
            </div>
                <div class="col-xs-12">
                        <div class="pull-right acc_span">
                            <button type="submit" class="line-btn primary-btn pull-left text-uppercase acc_span" mat-dialog-close aria-label="close" (click)="removeScroll()" aria-label="confirm" title="confirm">CONFIRM</button>
                        </div>
                    </div> 
          
        </div>
    </mat-dialog-actions>
    </div>