<div class="col-xs-12 no_pad">
  <div class="col-xs-12 no_pad task_main">
    <div class="col-xs-12 no_pad task_head">
    	<div class="pull-left">
    		<h3 class="pull-left first_letter third_hd">Leadership</h3>
    	</div>
    </div>
    <div class="col-xs-12 no_pad">
      <ul class="col-xs-12 no_pad mt20 rgtcontent_down">
        <li class="col-lg-3 ">
          <div class="col-lg-3 no_pad">
            <span class="user_pic"></span>
          </div>
          <div class="col-lg-9">
            <label class="col-xs-12 no_pad first_letter label_text mb0">BU Head</label>
            <span class="col-xs-12 no_pad label_hd">Harish Kumar</span>
          </div>
        </li>
        <li class="col-lg-3 ">
          <div class="col-lg-3 no_pad">
            <span class="user_pic"></span>
          </div>
          <div class="col-lg-9">
            <label class="col-xs-12 no_pad first_letter label_text mb0">VDH</label>
            <span class="col-xs-12 no_pad label_hd">Mohit Ramesh</span>
          </div>
        </li>
        <li class="col-lg-3 ">
          <div class="col-lg-3 no_pad">
            <span class="user_pic"></span>
          </div>
          <div class="col-lg-9">
            <label class="col-xs-12 no_pad first_letter label_text mb0">ADH</label>
            <span class="col-xs-12 no_pad label_hd">Rajesh Krishna</span>
          </div>
        </li>
        <li class="col-lg-3 ">
          <div class="col-lg-3 no_pad">
            <span class="user_pic"></span>
          </div>
          <div class="col-lg-9">
            <label class="col-xs-12 no_pad first_letter label_text mb0">DM</label>
            <span class="col-xs-12 no_pad label_hd">Sanjay Kumar</span>
          </div>
        </li>
      </ul>
      <ul class="col-xs-12 no_pad mt20 rgtcontent_down">
        <li class="col-lg-3 ">
          <div class="col-lg-3 no_pad">
            <span class="user_pic"></span>
          </div>
          <div class="col-lg-9">
            <label class="col-xs-12 no_pad first_letter label_text mb0">Program Director</label>
            <span class="col-xs-12 no_pad label_hd">Harish Kumar</span>
          </div>
        </li>
        <li class="col-lg-3 ">
          <div class="col-lg-3 no_pad">
            <span class="user_pic"></span>
          </div>
          <div class="col-lg-9">
            <label class="col-xs-12 no_pad first_letter label_text mb0">Program Manager</label>
            <span class="col-xs-12 no_pad label_hd">Mohit Ramesh</span>
          </div>
        </li>
        <li class="col-lg-3 ">
          <div class="col-lg-3 no_pad">
            <span class="user_pic"></span>
          </div>
          <div class="col-lg-9">
            <label class="col-xs-12 no_pad first_letter label_text mb0">Project Manager</label>
            <span class="col-xs-12 no_pad label_hd">Rajesh Krishna</span>
          </div>
        </li>
      </ul>
      <ul class="col-xs-12 no_pad mt10 rgtcontent_down">
        <li class="col-lg-3 ">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">BU</label>
            <span class="col-xs-12 no_pad first_letter label_text">BFSI</span>
          </div>
        </li>
        <li class="col-lg-3 ">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">Vertical</label>
            <span class="col-xs-12 no_pad first_letter label_text">LBG</span>
          </div>
        </li>
        <li class="col-lg-3 ">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">SL (From CRM)</label>
            <span class="col-xs-12 no_pad first_letter label_text">BPS</span>
          </div>
        </li>
        <li class="col-lg-3 ">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">Duration</label>
            <span class="col-xs-12 no_pad first_letter label_text">Sep'2015 - Dec'2018</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 no_pad task_main">
    <div class="col-xs-12 no_pad task_head">
      <div class="pull-left">
    		<h3 class="pull-left first_letter third_hd">Revenue Details</h3>
    	</div>
      <div class="pull-right">
        <button class="btndef_none moretsk_btn taskmore_in" aria-label="See additional revenue details" title="See additional revenue details">See additional revenue details<span class="pull-right btndef_none moretsk_btn icon-arrow_drop_right"></span></button>
      </div>
    </div>
    <div class="col-xs-12 no_pad">
      <ul class="col-xs-12 no_pad mt20 rgtcontent_down">
        <li class="col-lg-3">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">View amendments TCV</label>
            <span class="col-xs-12 no_pad first_letter label_text">USD 952,220,93</span>
          </div>
        </li>
        <li class="col-xs-3">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">ACV </label>
            <span class="col-xs-12 no_pad first_letter label_text">USD 952,220,93</span>
          </div>
        </li>
        <li class="col-xs-3">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">Gross Margin </label>
            <span class="col-xs-12 no_pad first_letter label_text">18%</span>
          </div>
        </li>
        <li class="col-xs-3">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">Est.Revenue</label>
            <span class="col-xs-12 no_pad first_letter label_text">USD 952,220,93</span>
          </div>
        </li>
      </ul>
      <ul class="col-xs-12 no_pad  rgtcontent_down">
        <li class="col-lg-3">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">Onsite efforts</label>
            <span class="col-xs-12 no_pad first_letter label_text">12 Man-months</span>
          </div>
        </li>
        <li class="col-xs-3">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">Offshore efforts</label>
            <span class="col-xs-12 no_pad first_letter label_text">10 Man-months</span>
          </div>
        </li>
        <li class="col-xs-3">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">Onsite cost </label>
            <span class="col-xs-12 no_pad first_letter label_text">USD 952,220,93</span>
          </div>
        </li>
        <li class="col-xs-3">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">Offshore cost</label>
            <span class="col-xs-12 no_pad first_letter label_text">USD 952,220,93</span>
          </div>
        </li>
      </ul><!-- 
      <ul class="col-xs-12 no_pad  rgtcontent_down">
        <li class="col-xs-3">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">Est.Revenue</label>
            <span class="col-xs-12 no_pad first_letter label_text">USD 952,220,93</span>
          </div>
        </li>
      </ul> -->
    </div>
  </div>
  <div class="col-xs-12 no_pad task_main">
    <div class="col-xs-12 no_pad task_head">
      <h3 class="pull-left first_letter third_hd">Budget details</h3>
    </div>
    <div class="col-xs-12 no_pad">
      <ul class="col-xs-12 no_pad mt20 rgtcontent_down">
        <li class="col-lg-3">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">Order budget</label>
            <span class="col-xs-12 no_pad first_letter label_text">USD 952,220,93</span>
          </div>
        </li>
        <li class="col-xs-3">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">Allocated budget </label>
            <span class="col-xs-12 no_pad first_letter label_text">USD 952,220,93</span>
          </div>
        </li>
        <li class="col-xs-3">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">Cost deviation</label>
            <span class="col-xs-12 no_pad first_letter label_text">USD 952,220,93</span>
          </div>
        </li>
        <li class="col-xs-3">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">Un-allocated balance </label>
            <span class="col-xs-12 no_pad first_letter label_text">USD 952,220,93</span>
          </div>
        </li>
      </ul>
      <ul class="col-xs-12 no_pad  rgtcontent_down">
        <li class="col-lg-3">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">Un-consumed balance</label>
            <span class="col-xs-12 no_pad first_letter label_text">USD 952,220,93</span>
          </div>
        </li>
        <li class="col-xs-3">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">Delivery model</label>
            <span class="col-xs-12 no_pad first_letter label_text">BU</span>
          </div>
        </li>
        <li class="col-xs-3">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">Planned budget in RLS</label>
            <span class="col-xs-12 no_pad first_letter label_text">USD 952,220,93</span>
          </div>
        </li>
        <li class="col-xs-3">
          <div class="col-lg-12">
            <label class="col-xs-12 no_pad first_letter label_hd mb0">Actual budget</label>
            <span class="col-xs-12 no_pad first_letter label_text">USD 952,220,93</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
