<div class="col-xs-12 no_pad myreq_satus">
						<ul class="col-xs-12 no_pad myreqstatu_ul">
						   <li class="col-xs-12 no_pad">
						   		<div class="pull-left status_left icon-status_complete"></div>
						   		<div class="pull-left status_rgt">
						   			<div class="col-xs-12 no_pad first_letter desc_hd myreq_hed">shrink request approved</div>
						   			<div class="col-xs-12 no_pad font_twelve first_letter myreq_desc">
									Your back dated shrink request for <b>Dinesh Kumar </b> has been approved by Shravanti Chaudhury on <b>13-Sept-2017</b>
									</div>
						   		</div>
						   </li>
						   <li class="col-xs-12 no_pad">
						   		<div class="pull-left status_left icon-close_circle"></div>
						   		<div class="pull-left status_rgt">
						   			<div class="col-xs-12 no_pad first_letter desc_hd myreq_hed">shrink request rejected</div>
						   			<div class="col-xs-12 no_pad font_twelve first_letter myreq_desc">
									Your back dated shrink request for <b>Dinesh Kumar </b> has been rejected by Shravanti Chaudhury on <b>13-Sept-2017</b>
									</div>
						   		</div>
						   </li>
						</ul>
					</div>
					<div class="col-xs-12 no_pad backdated_div borderBtmNone">
						<div class="col-xs-12 no_pad first_letter desc_hd backDated">back dated role change</div>
						<ul class="col-xs-12 no_pad bckdate_ul mt20">
					        <li class="col-xs-3 no_pad">
					          <div class="round_cls icon-user_filled"></div>
					          <div class="col-xs-12 no_pad bck_desc">
					          		<div class="col-xs-12 no_pad first_letter">
					          				back dated <b>Role change</b> request created on Dinesh Kumar Srinivas </div>
					          		<div class="col-xs-12 no_pad text-center req_date">on <b>13-Oct-2017</b>
						      		</div>
						      </div>
					        </li>
					        <li class="col-xs-3 no_pad">
					          <div class="round_cls icon-event_available"></div>
					          <div class="col-xs-12 no_pad bck_desc">
					          		<div class="col-xs-12 no_pad first_letter">request created on </div>
					          		<div class="col-xs-12 no_pad req_date"><b>13-Oct-2017</b></div>
						       </div>
					        </li>
					        <li class="col-xs-3 no_pad current_stage">
					        	<div class="round_cls icon-user_filled"></div>
					            <div class="col-xs-12 no_pad bck_desc">
					          		<div class="col-xs-12 no_pad first_letter">request pending with</div>
					          		<div class="col-xs-12 no_pad"><b>Harshit Garg</b></div>
					            </div>
					            <div class="col-xs-12 no_pad here_cls">
					            	<span class="col-xs-12 no_pad text-center here_arrow icon-arrow_drop_down"></span>
					            	<div class="col-xs-12 no_pad text-center first_letter">you are here</div>
					            </div>
					        </li>
					        <li class="col-xs-3 no_pad">
					          <div class="round_cls icon-check_mark reqnot_cls"></div>
					          <div class="col-xs-12 no_pad bck_desc first_letter">
					          request closed
						       </div>
						       <div class="col-xs-12 no_pad">
						       		<div class="cancel_req">
						       			<button  md-button class="line-btn text-uppercase cancelreq_btn" aria-label="cancel request" title="cancel request">cancel request</button>
						       			<div class="clear"></div>
						       		</div>
						       </div>
					        </li>
			      		</ul>
					</div>
					<div class="col-xs-12 no_pad backdated_div">
						<div class="col-xs-12 no_pad first_letter desc_hd backDated">back dated extend assigment</div>
						<ul class="col-xs-12 no_pad bckdate_ul mt20 margBottm20">
					        <li class="col-xs-3 no_pad">
					          <div class="round_cls icon-user_filled"></div>
					          <div class="col-xs-12 no_pad bck_desc font_twelve">
					          		<div class="col-xs-12 no_pad first_letter">
					          				back dated <b>Role change</b> request created on Dinesh Kumar Srinivas </div>
					          		<div class="col-xs-12 no_pad text-center req_date">on <b class="text-capitalize">13-Oct-2017</b>
						      		</div>
						      </div>
					        </li>
					        <li class="col-xs-3 no_pad">
					          <div class="round_cls icon-event_available"></div>
					          <div class="col-xs-12 no_pad bck_desc font_twelve">
					          		<div class="col-xs-12 no_pad first_letter">request created on </div>
					          		<div class="col-xs-12 no_pad req_date"><b class="text-capitalize">13-Oct-2017</b></div>
						       </div>
					        </li>
					        <li class="col-xs-3 no_pad">
					        	<div class="round_cls icon-user_filled"></div>
					            <div class="col-xs-12 no_pad bck_desc font_twelve">
					          		<div class="col-xs-12 no_pad first_letter">request pending with</div>
					          		<div class="col-xs-12 no_pad"><b>Harshit Garg</b></div>
					            </div>
					        </li>
					        <li class="col-xs-3 no_pad">
					          <div class="round_cls icon-check_mark req_cls"></div>
					          <div class="col-xs-12 no_pad bck_desc font_twelve first_letter">
					          request closed
						       </div>
					        </li>
			      		</ul>
					</div>