<div class="col-xs-12">
<div class="col-xs-12 back_pos_proceed">
<div class="back-button-container">
<button class="btndef_none more_icon icon-back_arrow" aria-label="Back" title="Back" (click)="goBack()"></button>
<h2 class="back-head">Proceed to allocate</h2> 
</div>
</div>

<!-- <div class="myteam_scroll" slimScroll [options]="opts"> -->
<div class="col-xs-12 no_pad proceedToallocateBack">

<div class="col-xs-12 no_pad my_team_border pend_alloc">
<div class="col-xs-12 no_pad myteam_popup_mb10">
<div class="col-xs-12">
<label class="myteam_popuphead mb0">User details</label>
</div>
  <ul class="uder_details_ul">
	 <li class="myteam_w24">
	  <div class="col-xs-12 no_pad">
	  <div class="col-xs-2 no_pad empdetail">	
           <div class="user_pic pull-lef" aria-label="profile pic"></div>	  
		<!-- <div class="icon-dummy_profile profile_circle pull-left myteam_pop_img" aria-label="profile pic"></div> --> 
	</div>
	<div class="col-xs-10 no_pad empdetail">	
	   <label class="col-xs-12 no_pad first_letter label_text capitalize mb0 myteamleft15">Prakash Kumar<button class="btndef_none icon-info icon_info_myteam" aria-label="information" title="information" (click)="openDialogEmpDetails()"></button></label>
	    <span class="col-xs-12 no_pad first_letter label_hd capitalize myteam_color myteamleft15">9845034567</span>
		<div class="email_skype_div proceedES_div">
			<!-- <button class="pull-rleft btndef_none icon-email myteam_mail_color" aria-label="mail" title="mail"></button>
			<button class="pull-right btndef_none filter_left icon-skype myteam_skype_color change_myteam_skype" aria-label="skype" title="skype"></button> -->
			<button class="pull-left icon-email" aria-label="email" title="email"></button>
			<button class="pull-left icon-skype" aria-label="skype" title="skype"></button>
		</div>
	  </div>
	  </div>
	 </li>
	 <li>
	  <div class="col-xs-12 no_pad">
	  <label class="col-xs-12 no_pad first_letter label_hd myteam_color mb0">Employee ID</label>
	  <span class="col-xs-12 no_pad first_letter label_text text_align_left">238765</span>
	  </div>
	 </li>
	  <li>
	  <div class="col-xs-12 no_pad">
	  <label class="col-xs-12 no_pad first_letter label_hd myteam_color mb0">Skills</label>
	  <span class="col-xs-12 no_pad first_letter label_text text_align_left">Angular JS</span>
	  </div>
	 </li>
	  <li>
	  <div class="col-xs-12 no_pad">
	  <label class="col-xs-12 no_pad first_letter label_hd myteam_color mb0">Experience</label>
	  <span class="col-xs-12 no_pad first_letter label_text text_align_left">5 years</span>
	  </div>
	 </li>
	 <li>
	  <div class="col-xs-12 no_pad">
	  <label class="col-xs-12 no_pad first_letter label_hd myteam_color mb0">Location</label>
	  <span class="col-xs-12 no_pad first_letter label_text text_align_left">Bangalore</span>
	  </div>
	 </li>
	  <li class="myteam_w20">
	  <div class="col-xs-12 no_pad myteam_availablefrom">
	  <label class="col-xs-12 no_pad first_letter label_hd myteam_color mb0">Available from<button class="btndef_none icon-calendar icon_calender_myteam" aria-label="datepicker" title="datepicker"></button></label>
	  <span class="col-xs-12 no_pad first_letter label_text text_align_left">03-Jan-2017 to 18-Jan-2017</span>
	  <span class="col-xs-12 no_pad first_letter label_text text_align_left">03-Jan-2017 to 18-Jan-2017</span>
	  </div>
	 </li>
 </ul>
 </div>
 
 <div class="col-xs-12 no_pad myteam_popup_mb10">
<div class="col-xs-12">
<label class="myteam_popuphead mb0">Current related contacts</label>
</div>
<div class="col-xs-12">
  <ul class="related_dcontacts_ul">
	
	 <li class="myteam_borderrgt">
	  <div class="col-xs-12 no_pad">
	  <div class="col-xs-4 no_pad">
	  <label class="font-family related_contacts_myteam_color mb0">WMG Spoc</label>
	  </div>
	  <div class="col-xs-6 no_pad">
	  <div class="col-xs-2 no_pad">
	  	<span class="user_pic"></span>
	  </div>
	  <div class="col-xs-10 no_pad">
	  <label class="col-xs-12 no_pad first_letter label_text capitalize mb0 myteamleft15">Prakash Kumar</label>
	    <span class="col-xs-12 no_pad first_letter label_hd capitalize myteam_color myteamleft15">9845034567</span>
	    </div>

	  </div>
	  <div class="col-xs-2 no_pad mt10">
	   <button class="pull-left icon-email" aria-label="email" title="email"></button>
		<button class="pull-left icon-skype" aria-label="skype" title="skype"></button>
	  </div>
	  </div>
	 </li>
	  <li class="myteam_borderrgt relatedContactsPL">
	  <div class="col-xs-12 no_pad">
	  <div class="col-xs-4 no_pad">
	  <label class="font-family related_contacts_myteam_color mb0">HR Spoc</label>
	  </div>
	 <div class="col-xs-6 no_pad">
	  <div class="col-xs-2 no_pad">
	  	<span class="user_pic"></span>
	  </div>
	  <div class="col-xs-10 no_pad">
	  <label class="col-xs-12 no_pad first_letter label_text capitalize mb0 myteamleft15">Prakash Kumar</label>
	    <span class="col-xs-12 no_pad first_letter label_hd capitalize myteam_color myteamleft15">9845034567</span>
	    </div>

	  </div>
	 <div class="col-xs-2 no_pad mt10">
	   <button class="pull-left icon-email" aria-label="email" title="email"></button>
		<button class="pull-left icon-skype" aria-label="skype" title="skype"></button>
	  </div>
	  </div>
	 </li>
	 <li>
	  <div class="col-xs-12 no_pad">
	  <div class="col-xs-4 no_pad relatedContactsPL">
	  <label class="font-family related_contacts_myteam_color col-xs-11 no_pad mb0">L1 Manager Spoc</label>
	  </div>
	 <div class="col-xs-6 no_pad">
	  <div class="col-xs-2 no_pad">
	  	<span class="user_pic"></span>
	  </div>
	  <div class="col-xs-10 no_pad">
	  <label class="col-xs-12 no_pad first_letter label_text capitalize mb0 myteamleft15">Prakash Kumar</label>
	    <span class="col-xs-12 no_pad first_letter label_hd capitalize myteam_color myteamleft15">9845034567</span>
	    </div>

	  </div>
	  <div class="col-xs-2 no_pad mt10">
	   <button class="pull-left icon-email" aria-label="email" title="email"></button>
		<button class="pull-left icon-skype" aria-label="skype" title="skype"></button>
	  </div>
	  </div>
	 </li>
	
 </ul>
 </div>
 </div>
 
 
 <div class="col-xs-12 no_pad myteam_popup_mb10">
<div class="col-xs-12">
<label class="myteam_popuphead mb0">Current project</label>
</div>
<div class="col-xs-12">
  <ul class="current_project_ul">
	
	 <li>
	  <label class="col-xs-12 no_pad first_letter label_hd myteam_color mb0">Project</label>
	  <span class="col-xs-12 no_pad first_letter label_text text_align_left">Quantum</span>
	 </li>
	  <li>
	   <label class="col-xs-12 no_pad first_letter label_hd myteam_color mb0">SOW</label>
	  <span class="col-xs-12 no_pad first_letter label_text text_align_left">ABC</span>
	 </li>
	 <li>
	   <label class="col-xs-12 no_pad first_letter label_hd myteam_color mb0">Account</label>
	  <span class="col-xs-12 no_pad first_letter label_text text_align_left">Standard chartered bank</span>
	 </li>
	  <li>
	   <label class="col-xs-12 no_pad first_letter label_hd myteam_color mb0">Vertical</label>
	  <span class="col-xs-12 no_pad first_letter label_text text_align_left">BNU</span>
	 </li>
	  <li>
	   <div class="col-xs-12 no_pad">
	   <div class="pull-right">
	   <button  md-button class="col-xs-12 line-btn  pull-right  text-uppercase searchby_attr myteammarn_top8 save_myteam" aria-label="save profile" title="save profile">save profile</button>
			
				</div>
	   </div>
	 </li>
	
 </ul>
 </div>
 </div>
 
 
</div>





<div class="col-xs-12 no_pad my_team_border pend_alloc myTeamsPending">
<div clas="col-xs-12 no_pad myteam_popup_mb10">
<div class="col-xs-12">
<label class="myteam_popupallocate mb0">Want to allocate?</label>
</div>
<div class="col-xxs-12 no_pad">
  <ul class="current_project_ul">
	 <li>
	 <div class="col-xs-12">
	  <form class="dropdownSelect example-form col-xs-12 no_pad">
		<mat-form-field>
		<input matInput [matDatepicker]="picker" placeholder="Assignment start date"> 
         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			 <mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
		</form>
		</div>
	 </li>
	 <li>
	  <div class="col-xs-12">
	  <form class="dropdownSelect example-form col-xs-12 no_pad">
		<mat-form-field>
		<input matInput [matDatepicker]="picker1" placeholder="Assignment end date"> 
         <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
			 <mat-datepicker #picker1></mat-datepicker>
				</mat-form-field>
		</form>
		</div>
	 </li>
	  <li>
	   <div class="col-xs-12">
	  <form class="example-form col-xs-12 no_pad">
								  <mat-form-field class="col-xs-12 no_pad">
									  <input matInput type="text" class="col-xs-12 no_pad" placeholder="Enter location" >
									    <a class="search_btn" href="" aria-label="search">
									  
									     </a>
									</mat-form-field>
								</form> 
								</div>
	 </li>
	 <li>
	 <div class="col-xs-12">
							<mat-form-field>
									    <mat-select placeholder="Role"  name="resource">
									      <mat-option>
									        Shrink
									      </mat-option>
										  <mat-option>
									        Expand
									      </mat-option>
									    </mat-select>
									</mat-form-field>
									</div>
	 </li>
	 <li>
	 <div class="col-xs-12 myteam_bill_mgrn">
	                				<label class="col-xs-12 no_pad">
		                				<span class="pull-right font12 mt3 myteam_color col-xs-12">100 billable?</span>
		                				<div class="col-xs-12 pull-right switch slideToggle myteamtoggle">
							                <input type="checkbox" checked="true" id="client1" class="switchInput" (change)="changeEvent($event)"/>
							                <label for="client1"><span class="ui"></span></label>
							             </div>
	                				</label>
                				</div>
								
	 </li>
	 <div class="col-xs-12"  *ngIf="toggleTrue">
	 <div class="col-xs-2 no_pad">
								                <div>
								                	<form class="example-form">
													  <mat-form-field class="example-full-width">
													    <input matInput placeholder="Type here">
													  </mat-form-field>
													</form>
								                </div>
								                </div>
	 </div>
 </ul>
 </div>
 <div class="col-xs-12">
 <div class="col-xs-12 no_pad">
                              <div class="col-xs-12 no_pad">
	                             	<div class="col-xs-12 no_pad mb20">
	                             	<button class="pull-left btndef_none staggerAllocation line-btn margin0" (click)="StaggerAllocationButton()">
                                <span class="pull-left">Do you want to create a stagger allocation period </span>
                                <button data-role="none" class="icon-arrow_drop_right btndef_none pull-left"></button>
                                </button>
                             	</div>
								 <div class="col-xs-12 no_pad allcationPeriod mb10" *ngIf="ShowAllocationPeriodContent">
                                 <ul class="col-xs-12 no_pad mt20 filterBody">
                                  <li class="col-xs-12 col-lg-4 ">
                                    <form class="dropdownSelect example-form col-xs-12 no_pad">
                                      <mat-form-field>
                                        <input matInput [matDatepicker]="picker4" placeholder="Assignment start date" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                        <mat-datepicker #picker4></mat-datepicker>
                                        </mat-form-field>
                                      </form>
                                  </li>
                                  <li class="col-xs-12 col-lg-4 ">
                                    <form class="dropdownSelect example-form col-xs-12 no_pad">
                                      <mat-form-field>
                                        <input matInput [matDatepicker]="picker3" placeholder="Assignment end date">
                                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                        <mat-datepicker #picker3></mat-datepicker>
                                        </mat-form-field>
                                      </form>
                                  </li>
                               </ul>
                              </div>
	                             	<label class="pull-left col-xs-12 no_pad mb10 empBilling" aria-label="Employee billing">Employee billing</label>
									<div class="col-xs-12 no_pad staggerRadio">
	                             		<mat-radio-group>
										  <mat-radio-button value="1" checked=true class="col-lg-2 no_pad">Wipro</mat-radio-button>
										  <mat-radio-button value="2" class="col-lg-2 no_pad">Customer</mat-radio-button>
										</mat-radio-group>
	                             	</div>
                             	</div>
                             	<div class="col-xs-12 no_pad mt20">
	                             	
	                             	<label class="col-xs-12 no_pad font12" aria-label="How will this employee be billed radio buttons">How will this employee be billed?</label>
	                             	<div class="col-xs-12 no_pad staggerRadio">
	                             		<mat-radio-group>
										  <mat-radio-button value="3" checked=true class="col-lg-2 no_pad">Billable</mat-radio-button>
										   <mat-radio-button value="4" class="col-lg-2 no_pad">Non billable</mat-radio-button>
										  <mat-radio-button value="5" class="col-lg-2 no_pad">Investment</mat-radio-button>
										</mat-radio-group>
	                             	</div>
                             	</div>
                             </div>
 </div>
 <div class="col-xs-12 mt20">
 <div class="pull-left blockedEmp">
	                			<button data-role="none" class="icon-circle_alert pull-left" aria-label="alert" title="alert"></button>
	                			<span class="pull-left font12 blockedText">Budget insufficient to allocate this employee</span>
								<button class="btndef_none btnHover" aria-label="Transfer budget" title="Transfer budget" (click)="openDialogTransferMyTeam()">
	                			<span class="pull-left font12 blockedText">Transfer budget</span>
	                			<span class="pull-left icon-arrow_drop_right"></span>
								</button>
								<button class="btndef_none btnHover" aria-label="Request cost deviation" title="Request cost deviation" (click)="openDialogCostMyTeam()">
	                			<span class="pull-left font12 blockedText">Request cost deviation</span>
	                			<span class="pull-left icon-arrow_drop_right"></span>
								</button>
                			</div>
							<div class="pull-right">
							<button class="allocateBtn_myteam  pull-right  text-uppercase " data-role="none" aria-label="allocate" title="allocate">allocate</button>
							<button  md-button class="col-xs-12 line-btn  pull-left  text-uppercase searchby_attr  myteam_mrgnrgt20" aria-label="proceed to allocate" title="proceed to allocate" >check budget impact</button>
							
							</div>
 </div>
 </div>
 <div class="col-xs-12 no_pad notetext_main myteamnotepad25 mt20">
			<div class="pull-left first_letter note_hd">note:</div>
			<div class="pull-left col_cls">:</div>
			<div class="pull-left first_letter font_twelve note_txt myteamnote">We recommend that you contact the previous/current managers of these employees through the options given here for feedback on them before allocation.</div>
	</div>
</div>
</div>
</div>
<!-- </div> -->
<!-- <button class="icon-close" aria-label="close" title="close"></button>  -->


 