
<div class="col-xs-12 no_pad" *ngIf="newProjects">
	<div class="col-xs-12 no_pad rgtcontent_up">
			<h2 class="pull-left first_letter inner_head no_pad">Project name</h2>
			
			<div class="pull-right gross_cls">
				<div class="pull-left grs_txt first_letter">gross margin &nbsp;</div>
				<div class="pull-left grs_num">18%</div>
			</div>
	</div>
	<div class="col-xs-12 no_pad mt10 addProjectBack_white">
		<p class="col-xs-12 no_pad welcomeText">Welcome to your new project! Please add resources to your project</p>
		<div class="addProjectSearchDiv col-xs-12 no_pad">
			<input type="text" name="" class="addPrj_searchInput" placeholder="Search and allocate">
			<button class="pull-right icon-search addPrj_searchBtn"  title="search" aria-label="search" [routerLink]="['/gotosearchallocate']"></button>
		</div>
		

		<div class="col-xs-12 no_pad view_snapshots mt20">
			<div class="pull-left first_letter snapshot_txt">would you like to view project snapshots?</div>
			<button  md-button class="line-btn primary-btn pull-right text-uppercase snapshot_btn" aria-label="click here" title="click here" (click)="onClickHere()">click here</button>
		</div>
	</div>
</div>


<div [ngClass]="newProjects ? 'display_none' : 'col-xs-12 no_pad display_block'">
	<div class="col-xs-12 no_pad rgtcontent_up">
			<h2 class="pull-left first_letter inner_head no_pad">Project : Cosmos</h2>
			
			<div class="pull-right gross_cls">
				<div class="pull-left grs_txt first_letter">gross margin</div>
				<div class="pull-left grs_num">18%</div>
			</div>
	</div>
<div class="col-xs-12 no_pad rgtcontent_down">
	<!-- accord1 starts here -->
		<div class="col-xs-12 no_pad drag_cls" [dragula]='"third-bag"'>
			<div class="col-xs-12 no_pad accordionItem open_accord">
				<div class="col-xs-12 no_pad accordionItemHeading">
	      			<div class="pull-left desc_hd first_letter">Manage project</div>
	      			<div class="pull-right">
	      				<button class="pull-left btndef_none accord_drag icon-move" aria-label="draggable" title="draggable"></button>
	      				<button class="pull-left btndef_none accord_arrow icon-arrow_drop_down" aria-label="arrow" title="arrow"></button>
	      			</div>
	      		</div>
		      	<div class="col-xs-12 no_pad accordionItemContent">
		      		<div class="col-xs-12 no_pad accordionInnerContent">
						<app-add-manage-project></app-add-manage-project>
					</div>
				</div>
			</div>
		</div>
		<!-- accord2 starts here -->
		<div class="col-xs-12 no_pad drag_cls" [dragula]='"third-bag"'>
			<div class="col-xs-12 no_pad accordionItem close_accord">
	      		<div class="col-xs-12 no_pad accordionItemHeading">
	      			<div class="pull-left desc_hd first_letter">my tasks / reminders</div>
	      			<div class="pull-right">
	      				<button class="pull-left btndef_none accord_drag icon-move" aria-label="draggable" title="draggable"></button>
	      				<button class="pull-left btndef_none accord_arrow icon-arrow_drop_down" aria-label="arrow" title="arrow"></button>
	      			</div>
	      		</div>
		      	<div class="col-xs-12 no_pad accordionItemContent">
		      		<div class="col-xs-12 no_pad accordionInnerContent">
		      			<div class="col-xs-12 no_pad addPrj_myTasks">
		      				<span class="pull-left createteam">Create your team</span>
		      				<button class="pull-right icon-delete"  aria-label="Delete" title="Delete"></button>
		      				<button class="pull-right remindMeBtn"   aria-label="Remind me" title="Remind me"><span class="pull-left icon-notification"></span><span class="pull-left remindTexts">Remind me</span></button>
		      			</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>