<div class="col-xs-12 mt60 paddRight25">
  <div class="col-xs-12 no_pad mt10">
    <div class="col-xs-12 no_pad projectDetailsHead headingClr searchHead mt10 mb20">
      <div class="pull-left col-xs-1 no_pad">
        <button data-role="none" class="icon-back_arrow pull-left mt3 backArrw pdngLeft0" title="back" aria-label="back" [routerLink]="['/']"></button>
        <h2 class="pull-left">My tasks</h2></div>
      <div class="pull-left projectMT2">
        <label class="bold font_family font14">Project:</label>
        <label class=" font_family font14">Cosmos</label>
      </div>
    </div>
  </div>
  <div class="col-xs-12 no_pad myTaskMoreAccr">
    <button class="pull-right btndef_none filter_left icon-filter myteam_filter_color accr_filter" aria-label="Filter" title="filter"></button>
    <mat-tab-group>
      <mat-tab label="My tasks / reminders" class="text_upper">
        <div class="col-xs-12 no_pad mt10">
          <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="pull-left col-xs-12 no_pad">
                    <!--  <span class="pull-left icon-warning"></span> --><span class="pull-left accrHeaders">Due today</span>
                    <span class="pull-left accr_nmbrs">05</span>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <app-my-task-more-inner></app-my-task-more-inner>
            </mat-expansion-panel>
            <div class="col-xs-12 no_pad mt10">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="pull-left col-xs-12 no_pad">
                      <!-- <span class="pull-left icon-warning"></span> --><span class="pull-left accrHeaders">Due in 2 days</span>
                      <span class="pull-left accr_nmbrs">05</span>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-my-task-more-inner></app-my-task-more-inner>
              </mat-expansion-panel>
            </div>
            <div class="col-xs-12 no_pad mt10">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="pull-left col-xs-12 no_pad">
                      <!-- <span class="pull-left icon-warning"></span> --><span class="pull-left accrHeaders">Due in 5 days</span>
                      <span class="pull-left accr_nmbrs">05</span>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-my-task-more-inner></app-my-task-more-inner>
              </mat-expansion-panel>
            </div>
            <div class="col-xs-12 no_pad mt10">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="pull-left col-xs-12 no_pad">
                      <!-- <span class="pull-left icon-warning"></span> --><span class="pull-left accrHeaders">Overdue</span>
                      <span class="pull-left accr_nmbrs">05</span>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-my-task-more-inner></app-my-task-more-inner>
              </mat-expansion-panel>
            </div>
            <div class="col-xs-12 no_pad mt10">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="pull-left col-xs-12 no_pad">
                      <!-- <span class="pull-left icon-warning"></span> --><span class="pull-left accrHeaders">Other notifications</span>
                      <span class="pull-left accr_nmbrs">05</span>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="col-xs-12 no_pad mt10">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <div class="pull-left col-xs-12 no_pad">
                            <!--  <span class="pull-left icon-warning"></span> --><span class="pull-left accrHeaders">notice period alert</span>
                            <span class="pull-left accr_nmbrs">05</span>
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <ul class="col-xs-12 no_pad task_ul">
                        <li class="col-xs-12">
                          <div class="col-xs-12 no_pad task_btm">
                            <div class="col-lg-7 no_pad first_letter task_left font_twelve">Harshit garg form your team is serving his notice period. His last working is 31-Sept-2017. You can search for his replacement with similar attributes.</div>
                            <div class="pull-right task_rgt">
                              <button class="pull-left btndef_none text-uppercase task_btn icon-notification" aria-label="notifications" title="notifications"></button>
                              <button class="pull-left btndef_none task_btn text-uppercase icon-delete" aria-label="delete" title="delete"></button>
                              <button md-button class="line-btn  pull-left  text-uppercase searchby_attr" aria-label="search by attributes" title="search by attributes" [routerLink]="['/gotosearchallocate']">search by attributes</button>
                            </div>
                          </div>
                        </li>
                        <li class="col-xs-12">
                          <div class="col-xs-12 no_pad task_btm">
                            <div class="col-lg-7 no_pad first_letter task_left font_twelve">Harshit garg form your team is serving his notice period. His last working is 31-Sept-2017. You can search for his replacement with similar attributes.</div>
                            <div class="pull-right task_rgt">
                              <button class="pull-left btndef_none text-uppercase task_btn icon-notification" aria-label="notifications" title="notifications"></button>
                              <button class="pull-left btndef_none task_btn text-uppercase icon-delete" aria-label="delete" title="delete"></button>
                              <button md-button class="line-btn  pull-left  text-uppercase searchby_attr" aria-label="search by attributes" title="search by attributes" [routerLink]="['/gotosearchallocate']">search by attributes</button>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
                <div class="col-xs-12 no_pad mt10">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <div class="pull-left col-xs-12 no_pad">
                            <!--  <span class="pull-left icon-warning"></span> --><span class="pull-left accrHeaders">pending proposal</span>
                            <span class="pull-left accr_nmbrs">05</span>
                          </div>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <ul class="col-xs-12 no_pad task_ul">
                        <li class="col-xs-12">
                          <div class="col-xs-12 no_pad task_btm">
                            <div class="col-lg-7 no_pad first_letter task_left font_twelve">You have a pending proposal for you indend no. 21345212 created on 12-Set-2017.</div>
                            <div class="pull-right task_rgt">
                              <button class="pull-left btndef_none text-uppercase task_btn icon-notification" aria-label="notifications" title="notifications"></button>
                              <button class="pull-left btndef_none task_btn text-uppercase icon-delete" aria-label="delete" title="delete"></button>
                              <button md-button class="line-btn  pull-left  text-uppercase searchby_attr" aria-label="search by attributes" title="search by attributes" [routerLink]="['/gotosearchallocate']">search by attributes</button>
                            </div>
                          </div>
                        </li>
                        <li class="col-xs-12">
                          <div class="col-xs-12 no_pad task_btm">
                            <div class="col-lg-7 no_pad first_letter task_left font_twelve">HYou have a pending proposal for you indend no. 21345212 created on 12-Set-2017.</div>
                            <div class="pull-right task_rgt">
                              <button class="pull-left btndef_none text-uppercase task_btn icon-notification" aria-label="notifications" title="notifications"></button>
                              <button class="pull-left btndef_none task_btn text-uppercase icon-delete" aria-label="delete" title="delete"></button>
                              <button md-button class="line-btn  pull-left  text-uppercase searchby_attr" aria-label="search by attributes" title="search by attributes" [routerLink]="['/gotosearchallocate']">search by attributes</button>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </mat-expansion-panel>
            </div>
          </mat-accordion>
        </div>
      </mat-tab>
      <mat-tab label="My  requests status" class="text_upper">
        <div class="col-xs-12 no_pad mt10">
          <app-myrequests></app-myrequests>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <app-settings></app-settings>
  <button class="btndef_none icon-img_helpline iconhelp_main" aria-label="help" title="help"></button>
</div>
