<div class="col-xs-12 no_pad ask_content accr_bodyBrder_btm">
							<ul class="col-xs-12 no_pad task_ul">
								<li class="col-xs-12">
									<div class="pull-left task_up">
										<div class="col-xs-12 no_pad first_letter desc_hd">notice period alert</div>	
									</div>
									<div class="col-xs-12 no_pad task_btm">
										<div class="col-lg-7 no_pad first_letter task_left font_twelve">Harshit garg form your team is serving his notice period. His last working is 31-Sept-2017. You can search for his replacement with similar attributes.</div>
										<div class="pull-right task_rgt">
											<button class="pull-left btndef_none text-uppercase task_btn icon-notification" aria-label="notifications" title="notifications"></button>
											<button class="pull-left btndef_none task_btn text-uppercase icon-delete" aria-label="delete" title="delete"></button>
											<button  md-button class="line-btn  pull-left  text-uppercase searchby_attr" aria-label="search by attributes" title="search by attributes" [routerLink]="['/gotosearchallocate']">search by attributes</button>
										</div>
									</div>
								</li>
								<li class="col-xs-12">
									<div class="pull-left task_up">
										<div class="col-xs-12 no_pad first_letter desc_hd">pending proposal</div>	
									</div>
									<div class="col-xs-12 no_pad task_btm">
										<div class="col-lg-7 no_pad first_letter task_left font_twelve">You have a pending proposal for you indend no. 21345212 created on 12-Set-2017.</div>
										<div class="pull-right task_rgt">
											<button class="pull-left btndef_none text-uppercase task_btn icon-notification" aria-label="notifications" title="notifications"></button>
											<button class="pull-left btndef_none task_btn text-uppercase icon-delete" aria-label="delete" title="delete"></button>
											<button  md-button class="line-btn  pull-left  text-uppercase view_prp" aria-label="view proposal" title="view proposal">view proposal</button>
										</div>
									</div>
								</li>
								<li class="col-xs-12">
									<div class="pull-left task_up">
										<div class="col-xs-12 no_pad first_letter desc_hd">notice period alert</div>	
									</div>
									<div class="col-xs-12 no_pad task_btm">
										<div class="col-lg-7 no_pad first_letter task_left font_twelve">Harshit garg form your team is serving his notice period. His last working is 31-Sept-2017. You can search for his replacement with similar attributes.</div>
										<div class="pull-right task_rgt">
											<button class="pull-left btndef_none text-uppercase task_btn icon-notification" aria-label="notifications" title="notifications"></button>
											<button class="pull-left btndef_none task_btn text-uppercase icon-delete" aria-label="delete" title="delete"></button>
											<button  md-button class="line-btn  pull-left  text-uppercase searchby_attr" aria-label="search by attributes" title="search by attributes" [routerLink]="['/gotosearchallocate']">search by attributes</button>
										</div>
									</div>
								</li>
								<li class="col-xs-12">
									<div class="pull-left task_up">
										<div class="col-xs-12 no_pad first_letter desc_hd">pending proposal</div>	
									</div>
									<div class="col-xs-12 no_pad task_btm">
										<div class="col-lg-7 no_pad first_letter task_left font_twelve">You have a pending proposal for you indend no. 21345212 created on 12-Set-2017.</div>
										<div class="pull-right task_rgt">
											<button class="pull-left btndef_none text-uppercase task_btn icon-notification" aria-label="notifications" title="notifications"></button>
											<button class="pull-left btndef_none task_btn text-uppercase icon-delete" aria-label="delete" title="delete"></button>
											<button  md-button class="line-btn  pull-left  text-uppercase view_prp" aria-label="view proposal" title="view proposal">view proposal</button>
										</div>
									</div>
								</li>
								<li class="col-xs-12">
									<div class="pull-left task_up">
										<div class="col-xs-12 no_pad first_letter desc_hd">notice period alert</div>	
									</div>
									<div class="col-xs-12 no_pad task_btm">
										<div class="col-lg-7 no_pad first_letter task_left font_twelve">Harshit garg form your team is serving his notice period. His last working is 31-Sept-2017. You can search for his replacement with similar attributes.</div>
										<div class="pull-right task_rgt">
											<button class="pull-left btndef_none text-uppercase task_btn icon-notification" aria-label="notifications" title="notifications"></button>
											<button class="pull-left btndef_none task_btn text-uppercase icon-delete" aria-label="delete" title="delete"></button>
											<button  md-button class="line-btn  pull-left  text-uppercase searchby_attr" aria-label="search by attributes" title="search by attributes" [routerLink]="['/gotosearchallocate']">search by attributes</button>
										</div>
									</div>
									<div class="col-xs-12 no_pad myTaskMore_more">
										<button class="pull-right icon-more_h btndef_none" aria-label="more" title="more"></button>
									</div>
								</li>
							</ul>
						</div>