<div class="col-xs-12 no_pad">
	<div class="notesDiv">
		<span class="pull-left col-xs-12 no_pad"><span class="pull-left noteTexts">NOTE :</span>You can change the details here. These will automatically raise cost/effort deviation requests. Once your ADH approves the requests, the details will be changed here and in RLS automatically, and you will be notified through your myTasks.</span>
	</div>
	<button class="pull-right line-btn primary-btn addResources"  aria-label="Add Resources" title="Add Resources"><span class="pull-left icon-add"></span>add resources</button>


	<div class="col-xs-12 no_pad mt20 addPrj_borderAll">
		<h3 class="col-xs-12 no_pad addPrj_teamLead">Team lead 1</h3>
		<div class="col-xs-12 no_pad padd15 addPrj_borderTop rgtcontent_down">
			<div class="col-xs-2 no_pad">
				<label class="col-xs-12 no_pad label_hd">Desired skills</label>
				<span class="col-xs-12 no_pad label_text">Angular JS/Java</span>
			</div>
			<div class="col-xs-2 no_pad">
				<label class="col-xs-12 no_pad label_hd">Mandatory skills</label>
				<span class="col-xs-12 no_pad label_text">Angular JS/Java</span>
			</div>
			<div class="col-xs-2 no_pad">
				<label class="col-xs-12 no_pad label_hd">Role</label>
				<span class="col-xs-12 no_pad label_text">Team lead</span>
			</div>
			<div class="col-xs-2 no_pad">
				<label class="col-xs-12 no_pad label_hd">Band</label>
				<span class="col-xs-12 no_pad label_text">B3 band</span>
			</div>
			<div class="col-xs-2 no_pad">
				<label class="col-xs-12 no_pad label_hd">Experience</label>
				<span class="col-xs-12 no_pad label_text">6-7 years</span>
			</div>
			<div class="col-xs-2 no_pad">
				<label class="col-xs-12 no_pad label_hd">Location</label>
				<span class="col-xs-12 no_pad label_text">Bangalore</span>
			</div>
		</div>
		<div class="col-xs-12 no_pad">
			<button class="pull-right line-btn"  aria-label="Search team lead" title="Search team lead" [routerLink]="['/gotosearchallocate']">search team lead</button>
		</div>


		<div class="col-xs-12 no_pad addPrj_borderTop">
			<h3 class="col-xs-12 no_pad addPrj_teamLead">Developer 1</h3>
			<div class="col-xs-12 no_pad padd15">
				<div class="col-xs-2 no_pad">
				<label class="col-xs-12 no_pad label_hd">Desired skills</label>
				<span class="col-xs-12 no_pad label_text">Angular JS/Java</span>
			</div>
			<div class="col-xs-2 no_pad">
				<label class="col-xs-12 no_pad label_hd">Mandatory skills</label>
				<span class="col-xs-12 no_pad label_text">Angular JS/Java</span>
			</div>
			<div class="col-xs-2 no_pad">
				<label class="col-xs-12 no_pad label_hd">Role</label>
				<span class="col-xs-12 no_pad label_text">Team lead</span>
			</div>
			<div class="col-xs-2 no_pad">
				<label class="col-xs-12 no_pad label_hd">Band</label>
				<span class="col-xs-12 no_pad label_text">B3 band</span>
			</div>
			<div class="col-xs-2 no_pad">
				<label class="col-xs-12 no_pad label_hd">Experience</label>
				<span class="col-xs-12 no_pad label_text">6-7 years</span>
			</div>
			<div class="col-xs-2 no_pad">
				<label class="col-xs-12 no_pad label_hd">Location</label>
				<span class="col-xs-12 no_pad label_text">Bangalore</span>
			</div>
			</div>
			<div class="col-xs-12 no_pad">
				<button class="pull-right line-btn"   aria-label="Search developer" title="Search developer">search developer</button>
			</div>

		</div>

		<div class="col-xs-12 no_pad addPrj_borderTop">
			<h3 class="col-xs-12 no_pad addPrj_teamLead">Developer 2</h3>
			<div class="col-xs-12 no_pad padd15">
				<div class="col-xs-2 no_pad">
				<label class="col-xs-12 no_pad label_hd">Desired skills</label>
				<span class="col-xs-12 no_pad label_text">Angular JS/Java</span>
			</div>
			<div class="col-xs-2 no_pad">
				<label class="col-xs-12 no_pad label_hd">Mandatory skills</label>
				<span class="col-xs-12 no_pad label_text">Angular JS/Java</span>
			</div>
			<div class="col-xs-2 no_pad">
				<label class="col-xs-12 no_pad label_hd">Role</label>
				<span class="col-xs-12 no_pad label_text">Team lead</span>
			</div>
			<div class="col-xs-2 no_pad">
				<label class="col-xs-12 no_pad label_hd">Band</label>
				<span class="col-xs-12 no_pad label_text">B3 band</span>
			</div>
			<div class="col-xs-2 no_pad">
				<label class="col-xs-12 no_pad label_hd">Experience</label>
				<span class="col-xs-12 no_pad label_text">6-7 years</span>
			</div>
			<div class="col-xs-2 no_pad">
				<label class="col-xs-12 no_pad label_hd">Location</label>
				<span class="col-xs-12 no_pad label_text">Bangalore</span>
			</div>
			</div>
			<div class="col-xs-12 no_pad">
				<button class="pull-right line-btn"   aria-label="Search developer" title="Search developer">search developer</button>
			</div>

		</div>


	</div>
</div>