<div class="col-xs-12 no_pad">
	
	<div class="col-xs-12 no_pad rgtcontent_down">
		<!-- accord1 starts here -->
		<div class="col-xs-12 no_pad drag_cls" [dragula]='"third-bag"'>
			<div class="col-xs-12 no_pad accordionItem open_accord">
				<div class="col-xs-12 no_pad accordionItemHeading">
	      			<div class="pull-left desc_hd first_letter">my tasks / reminders</div>
	      			<div class="pull-right">
	      				<button class="pull-left btndef_none accord_drag icon-move" aria-label="draggable" title="draggable"></button>
	      				<button class="pull-left btndef_none accord_arrow icon-arrow_drop_down" aria-label="arrow" title="arrow"></button>
	      			</div>
	      		</div>
		      	<div class="col-xs-12 no_pad accordionItemContent">
		      		<div class="col-xs-12 no_pad accordionInnerContent">
						<app-mytasks></app-mytasks>
					</div>
				</div>
			</div>
		</div>
		<!-- accord2 starts here -->
		<div class="col-xs-12 no_pad drag_cls" [dragula]='"third-bag"'>
			<div class="col-xs-12 no_pad accordionItem close_accord">
	      		<div class="col-xs-12 no_pad accordionItemHeading">
	      			<div class="pull-left desc_hd first_letter">my request status</div>
	      			<div class="pull-right">
	      				<button class="pull-left btndef_none accord_drag icon-move" aria-label="draggable" title="draggable"></button>
	      				<button class="pull-left btndef_none accord_arrow icon-arrow_drop_down" aria-label="arrow" title="arrow"></button>
	      			</div>
	      		</div>
		      	<div class="col-xs-12 no_pad accordionItemContent">
		      		<div class="col-xs-12 no_pad accordionInnerContent">
		      			<app-myrequests></app-myrequests>
					</div>
				</div>
			</div>
		</div>
		<!-- accord3 starts here -->
		<div class="col-xs-12 no_pad drag_cls" [dragula]='"third-bag"'>
			<div class="col-xs-12 no_pad accordionItem close_accord">
				<div class="col-xs-12 no_pad accordionItemHeading">
	      			<div class="pull-left desc_hd first_letter">Leadership</div>
	      			<div class="pull-right">
	      				<button class="pull-left btndef_none accord_drag icon-move" aria-label="draggable" title="draggable"></button>
	      				<button class="pull-left btndef_none accord_arrow icon-arrow_drop_down" aria-label="arrow" title="arrow"></button>
	      			</div>
	      		</div>
		      	<div class="col-xs-12 no_pad accordionItemContent">
		      		<div class="col-xs-12 no_pad accordionInnerContent">
						<app-leadership></app-leadership>
					</div>
				</div>
			</div>
		</div>
		
		
		
</div>
